# Environment file with secrets
.env

# User secrets file (managed by dotnet CLI, usually outside repo)
**/secrets.json

# Local development settings files that might contain secrets
**/appsettings.Development.json

# Build output
[Bb]in/
[Oo]bj/

# IDE files & user-specific files
.vs/
*.suo
*.user
*.*proj.user
**/.classpath
**/.project
**/.settings
**/.toolstarget

# Docker files to ignore in builds
**/.dockerignore
**/docker-compose.yml
**/Dockerfile

# Node modules
**/node_modules
**/npm-debug.log

# Other
LICENSE
README.md